@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

*, *:after, *:before {
  border: none; margin: 0; padding: 0;
  box-sizing: border-box;
}

.flex { display: flex; }
.block { display: block; }
/*
block(): Tailwind { return this.add("block"); }
flex(): Tailwind { return this.add("flex"); }
*/
