*, *:after, *:before {
  border: none; border-width: 0;
  margin: 0; padding: 0;
  box-sizing: border-box;
}

ul { list-style: none; }
a { text-decoration: none; color: inherit; }

input, button {
  appearance: none; font: inherit;
  background: none; color: inherit;
  text-align: left;
}

html { font-family: 'Inter', sans-serif; }

/* https://github.com/WICG/focus-visible#backwards-compatibility */
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

input, button, a, select {
  transition: box-shadow 0.2s;
  box-shadow: 0 0 0 12px transparent;
}

.js-focus-visible .focus-visible {
  box-shadow: 0 0 0 2px #4299E1;
}

.hanging-quote { position: relative; }

.hanging-quote::before {
  content: "“"; position: absolute;
  right: 100%; top: 0;
}