.text-CBD {
  color: #CBD5E0
}

.text-A0A {
  color: #A0AEC0
}

.text-2D3 {
  color: #2D3748
}

.bg-FFF {
  background-color: #FFF
}

.bg-F7F {
  background-color: #F7FAFC
}

.border-E2E {
  border-color: #E2E8F0
}

.border-CBD {
  border-color: #CBD5E0
}

.w-320 {
  width: 320px
}

.w-640 {
  width: 640px
}

.w-100\% {
}

.max-w-800 {
  max-width: 800px
}

.flex-wrap {
  flex-wrap: wrap
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse
}

.flex-no-wrap {
  flex-wrap: nowrap
}

@media (max-width: 959px) {
  .lt960___w-320 {
    width: 320px
  }

  .lt960___w-640 {
    width: 640px
  }

  .lt960___w-100\% {
  }

  .lt960___max-w-800 {
    max-width: 800px
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  .fr960to1280___w-320 {
    width: 320px
  }

  .fr960to1280___w-640 {
    width: 640px
  }

  .fr960to1280___w-100\% {
  }

  .fr960to1280___max-w-800 {
    max-width: 800px
  }
}

@media (min-width: 1280px) {
  .gt1280___w-320 {
    width: 320px
  }

  .gt1280___w-640 {
    width: 640px
  }

  .gt1280___w-100\% {
  }

  .gt1280___max-w-800 {
    max-width: 800px
  }
}
