.text-transparent {
  color: transparent
}

.text-black {
  color: #000
}

.text-white {
  color: #fff
}

.text-gray-100 {
  color: #f7fafc
}

.text-gray-200 {
  color: #edf2f7
}

.text-gray-300 {
  color: #e2e8f0
}

.text-gray-400 {
  color: #cbd5e0
}

.text-gray-500 {
  color: #a0aec0
}

.text-gray-600 {
  color: #718096
}

.text-gray-700 {
  color: #4a5568
}

.text-gray-800 {
  color: #2d3748
}

.text-gray-900 {
  color: #1a202c
}

.bg-transparent {
  background-color: transparent
}

.bg-black {
  background-color: #000
}

.bg-white {
  background-color: #fff
}

.bg-gray-100 {
  background-color: #f7fafc
}

.bg-gray-200 {
  background-color: #edf2f7
}

.bg-gray-300 {
  background-color: #e2e8f0
}

.bg-gray-400 {
  background-color: #cbd5e0
}

.bg-gray-500 {
  background-color: #a0aec0
}

.bg-gray-600 {
  background-color: #718096
}

.bg-gray-700 {
  background-color: #4a5568
}

.bg-gray-800 {
  background-color: #2d3748
}

.bg-gray-900 {
  background-color: #1a202c
}
